<div class="container">
  <div class="content">
    <div class="row">
      <div class="input-group column col">
        <input type="text" class="form-control" aria-label="Text input with dropdown button" [(ngModel)]="fromAmount">
        <div class="input-group-append">
          <select name="" id="" [(ngModel)]="currentCurrency">
            <option [value]="cur" *ngFor="let cur of currencyList">{{cur}}</option>
          </select>

        </div>
      </div>
      <div class="input-group column col">
        <input type="text" class="form-control" aria-label="Text input with dropdown button" [(ngModel)]="toAmount">
        <div class="input-group-append">
          <select name="" id="" [(ngModel)]="toCurrency">
            <option [value]="cur" *ngFor="let cur of currencyList">{{cur}}</option>
          </select>

        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <button type="button" class="btn btn-primary" (click)="getCurrency()">Primary</button>
    </div>
  </div>
</div>